<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menüler</div>
                <a class="nav-link" href="/productcontroller1/index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                </a>

                <a class="nav-link" href="/customer/index/">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="/category/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/job/index">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Meslekler
                </a>
                <a class="nav-link" href="/job/addjob">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Yeni Meslek Girişi
                </a>
                <a class="nav-link" href="/productcontroller1/AddProduct/">
                    <div class="sb-nav-link-icon"><i class="fas fa-apple-alt"></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="/Settings/index/">
                    <div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
                    Şifre İşlemleri
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa fa-battaery-quarter"></i></div>
                    Yardım
                </a>
                <a class="nav-link" href="/Login/Logout">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-face-meh-blank"></i></div>
                    Çıkış Yap
                </a>
            </div>
        </div>
    </nav>
</div>